# Ignora archivos del configuracion de vscode
.vscode
# Ignora archivos del sistema Mac 
.DS_store
# Ignora la carpeta node_modules
node_modules
# Ignora la carpeta .venv
#El entorno virtual .venv contiene información específica de las dependencias de tu proyecto y la versión de Python que estás utilizando en tu sistema. Esta información puede variar de máquina en máquina, lo que puede causar problemas si se intenta compartir el entorno virtual directamente en el repositorio.
.venv
# Ignora archivos de configuracion de python
*.pyc
# Ignora archivos de configuracion de github
.github
